[phases.setup]
nixPkgs = ["dotnet-sdk_8"]

[phases.build]
cmds = [
    "cd Encadri-Backend",
    "dotnet restore",
    "dotnet build --configuration Release --no-restore",
    "dotnet publish --configuration Release --no-build --output /app/publish"
]

[start]
cmd = "cd /app/publish && dotnet Encadri-Backend.dll"
